<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<head>
    <style>
        .jumbotron .container {
            background-image: url('backgroundlogin.jpeg');
            background-size: cover;
            background-position: center;
            padding: 50px; /* Optional: Adjust padding as needed */
        }
    </style>
</head>

<body>

    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="lang-logo">
                <img alt="" src="/logo.jpg">
            </a>
            <h1>Taman Pelangi Semenyih Security</h1>
            <!-- <p>This is a sample Java application deployed to Heroku. It's a reasonably simple app - but a good foundation
                for understanding how to get the most out of the Heroku platform.</p> -->
            <a type="button" class="btn btn-lg btn-default"
               href="/login"><span class="glyphicon glyphicon-flash"></span>Login</a>
            <!-- <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/java-getting-started"><span
                    class="glyphicon glyphicon-download"></span> Source on GitHub</a> -->
        </div>
    </div>
</div>
</body>
</html>
